* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100dvh;
  background-color: #067b9b;
  /* background-image: url(./assets/flat-lay-blue-monday-concept-with-copy-space.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat; background-size: cover; */
}
.table{
  font-size: 12px;
  font-weight: 600;
  opacity: 0.9;
}
th{
color:#067b9b !important; 
}
button{
  color:#067b9b !important; 

}